@import "~@fortawesome/fontawesome-free/css/all.min.css";
$nav_bar_height : 90px;
button {
    font: inherit;
    border: none;
    padding: 1rem;
    width: auto;
    min-width: 7rem;
    cursor: pointer;
    margin: 0rem 1rem 0rem 1rem;
    &.header{
        height: 100%;
        background: none;
    }
    &.submit,&.cancel,&.create{
        height: 50px;
        border-radius: 5px;
        color: white;
        width: auto;
    }
    &.submit,&.create{
        background-color: rgb(71, 71, 230);
    }
    &.cancel{
        background-color: rgb(146, 146, 157);
    }
    &.create{
        margin-bottom:10px;
    }
}

p {
    font-size: large;

    &.index {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &.show {
        word-break: break-all;
        border: 2px solid;
        border-radius: 5px;
        padding: 20px;
        min-height: 300px;
        margin-right: 50px;
    }
}

div {
    &.nav-title {
        height: auto;
        padding: 10px;
        width:20%;
    }
    &.flex-grow {
        flex-grow: 1;
    }
    &.config {
        height: auto;
        padding: 10px;
        display:flex;
    }
    &.reaction-box {
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
    &.post{
        border:1px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
        padding:20px;
    }
    &.flex-box {
        display: flex;
        max-width: 100%;
    }
    &.nav-bar{
        background-color: blanchedalmond;
        margin-bottom: 10px;
        width: 100%;
        position: fixed;
        height: $nav_bar_height;
        z-index: 9;
    }
    &.content{
        position: absolute;
        margin-top: calc($nav_bar_height + 10px);
        width: 100%;
    }
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

body{
    margin:0px !important
}


input,
textarea {
    border-radius: 5px;
    border: 2px solid;
    width: 100%;
    max-width: 100%;
    margin: 10px;
}

textarea {
    resize: none;
}

input[type="text"],
textarea {
    padding: 20px;
    font-size: large;
    &.search{
        width:90%
    }
}

input::placeholder,
textarea::placeholder {
    font-size: large;
    color: grey;
}

select {
    padding: 1rem;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid;
    width: 50%;
    font-size: medium;
}
