@import '~@fortawesome/fontawesome-free/css/all.min.css';

button.header{
    height: 100%;
    width: 7rem;
    background:none;
    border:none;
    padding:1rem;
    font: inherit;
    cursor: pointer;
}

div{
    padding:10px;
}